@import '../../styles/settings/_colors';

.nav {
  overflow: hidden;
  background-color: $color-primary;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 15px;

    li {
      display: inline;
      font-family: 'Fira Sans', sans-serif;
      font-size: 17px;

      a {
        color: $color-bw;
        text-decoration: none;
        padding: 14px;

        &:hover {
          background-color: $color-shadow;
        }
      }
    }
  }
}
